.header-main {
  @apply flex flex-wrap w-full justify-center lg:justify-between shadow-lg border-b border-solid border-b-[#E5E4E2] px-[100px];
}

.header-logo {
  @apply w-[100px] md:w-[10%] flex justify-center items-center pt-3  sm:py-2 px-5 text-[#36454f] font-serif text-4xl;
}

.header-nav {
  @apply flex flex-col md:w-[90%] justify-end items-center p-2 px-5 text-sm;
}

.header-bottom-bar {
  @apply flex w-full justify-start;
}

.btn {
  padding: 15px 25px;
  border: none;
  margin: 10px 0px;
}

.btn-primary {
  background-color: #28282b;
  color: white;
}
