<div class="container">
    <!-- <img [src]="product.image"  width="150px" height="260px"/>
<p>product-name : {{ product.title }}</p>
<p>product-price : {{ '$' +  product.amount }}</p>
<p>product-color : {{ product.color }}</p>
<p>Discount-price : {{ getDiscountPrice().toFixed(2) }}</p>
<p>{{ product.instock > 0 ? 'Only ' + product.instock + ' tems left' : 'not instock'}}</p>
<button (click)="decrementCartValue()">-</button>
<span>{{ addToCart}}</span> -->
    <!-- <button (click)="incrementCartValue()">+</button> -->
    <!-- <button [disabled] = " !(product.instock > 0)">Buy Now</button>
<input   (input)="onNameChange($event)"/><br>
<p>name = {{name}}</p> -->

    <!-- <app-search (searchTextChanged)="setSearchText($event)"></app-search> -->
    <app-search (searchTextChanged)="setSearchText($event)"></app-search>
    <!-- <div *ngFor="let item of listOfString ">
  <p>Current element of array is : {{item}}</p>
</div> -->

<app-product-list [searchText]="searchText"></app-product-list>
    <!-- <product-list [searchText]="searchText" #productListComponent></product-list>
    <product-detail *ngIf="productListComponent.selectedProduct"
        [productListComp]="productListComponent"></product-detail> -->

    <!-- <div class="ekart--featured--products">
        <div class="ekart--featured--product--heading">
            <h1>Latest Arrival in Popular Brands</h1>
        </div>
        <featured-brands>
            <h3 class="title">New Arrivals in Nike</h3>
            <button class="call--to--action">Show New Arrivals in Nike</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Adidas</h3>
            <button class="call--to--action">Show New Arrivals in Adidas</button>
        </featured-brands>
        <featured-brands>
            <h3 class="title">New Arrivals in Reebok</h3>
            <button class="call--to--action">Show New Arrivals in Reebok</button>
        </featured-brands>
    </div>
</div> -->